<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.4.1/dist/chart.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="//d3js.org/topojson.v1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    <title>Minimum Wage</title>
</head>
<body>
    <div class="navigation">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" style="background-color: rgb(255,255,255);" href="index.html">Minimum Wage</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="data.html">DATA</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="overview.html">OVERVIEW</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="about.html">ABOUT US</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12" id="summary">
                <h1>Minimum Wage</h1>
                <div class="row">
                    <h3> As of 2021, the federal minimum wage rate in the United States is $7.25 per hour. Individual states, cities, and localities may pass different minimum wage requirements.
                        This means that it is illegal for an American worker to sell their labor for less than $7.25 per hour unless the worker falls into a category specifically exempted from 
                        the Fair Labor Standards Act (FLSA).The government periodically assesses the federal minimum wage level for changes in inflation or cost of living. The federal minimum wage
                        has not increased since July 2009.States will usually set a minimum wage that is reflective of the cost of living in the region. For example, the state of Massachusetts has 
                        a minimum wage of $13.50 per hour, while Montana has a minimum wage rate of $8.75.
                    </h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12" id="fedminwage">
                <h1>Federal Minimum Wage</h1>
                <div class="row">
                    <h3>A minimum wage is the lowest remuneration that employers can legally pay their employees. Minimum wage legislation emerged at the end of 
                        the nineteenth century from the desire to end sweated labor (sweatshops) which had developed in the wake of industrialization. In the United States, 
                        different states are able to set their own minimum wages independent of the federal government. When the state and federal minimum wage differ the higher wage prevails.
                        As of 2021, minimum wage rates exceeded the federal rate in 29 of the 50 states. 
                    </h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" id="line">
                <h1>line</h1>
                <script src="/static/chart.js"></script>
            </div>
            <div class="col-md-6" id="bubble">
                <h1>bubble</h1>
                <script src="/static/bubblechart.js"></script>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" id="livingwage">
                <h1>Living Wage</h1>
                <div class="row">
                    <h3>A living wage is defined as the minimum income necessary for a worker to meet their basic needs. The goal of a living wage is to allow a worker to afford a basic but 
                        decent standard of living through employment without government subsidies. Due to the flexible nature of the term "needs", there is not one universally accepted measure 
                        of what a living wage is and as such it varies by location and household type. The living wage differs from the minimum wage in that the latter can fail to meet the requirements 
                        for a basic quality of life which leaves the worker to rely on government programs for additional income. The living wage is similar to the minimum wage as it is a price floor 
                        for labor. It thus differs from the national minimum wage in that it is not set according to a legal threshold.
                    </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-lg-4 searchContainer">
                  <div class="category">
                    <label for="familysize" class="col-form-label">
                      CHOOSE FAMILY SIZE
                    </label>
                    <select class="form-control" id="familysize">
                        <option value="OneAdultZeroKids" selected>One Adult Zero Kids</option>
                        <option value="OneAdultOneKid">One Adult One Kid</option>
                        <option value="OneAdultTwoKids">One Adult Two Kids</option>
                        <option value="OneAdultThreeKids">One Adult Three Kids</option>
                        <option value="TwoAdultsZeroKids">Two Adults Zero Kids</option>
                        <option value="TwoAdultsOneKid">Two Adults One Kid</option>
                        <option value="TwoAdultsTwoKids">Two Adults Two Kids</option>
                        <option value="TwoAdultsThreeKids">Two Adults Three Kids</option>
                    </select>
                  </div>
                </div>
            </div>
            <div class="col-md-6" id="hex">
                <body>
                <script defer type="text/javascript" src="choropleth.js"></script>
                </body>
            </div>
        </div>
    </div>
</body>
</html>